@import './common/var.scss';
@import './common/mixin.scss';

@include b(button) {
  text-align: center;
  box-sizing: border-box;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;

  @include m(default) {
    background: #fff;
    color: #606266;
    border: 1px solid #dcdfe6;
  }
}
