* {
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  > #app {
    height: 100%;
  }
}

[class^="wm-icon-"] {
  font-family: "wm-icon" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
